<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to the Home Page</h1>
    <p>
      Here we will practice <strong>Cookie based Client Authenticaion</strong>
    </p>
    <a href="/login">Click here to move to the Login Page</a>
  </body>
</html>

<style>
  label {
    display: flex;
    flex-direction: column;
  }
  button {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 30px;
    width: 100px;
    height: 50px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: aliceblue;
    border: none;
    border-radius: 7%;
    font-weight: bold;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    height: 35px;
  }
</style>
